.social-icons-container {
  display: flex;
  justify-content: flex-end;
}

.social-icons-container a {
  transition: transform 0.5s ease, color 0.5s ease;
  color: inherit;
}

.social-icons-container a:hover {
  transform: scale(1.2);
}

.social-icons-container a:hover .discord {
  color: #7289da;
}

.social-icons-container a:hover .ebay {
  color: #e53238;
}

.social-icons-container a:hover .etsy {
  color: #f16521;
}

.social-icons-container a:hover .facebook {
  color: #1877f2;
}

.social-icons-container a:hover .github {
  color: #aaa;
}

.social-icons-container a:hover .googleplay {
  color: #34a853;
}

.social-icons-container a:hover .instagram {
  color: #e1306c;
}

.social-icons-container a:hover .linkedin {
  color: #0077b5;
}

.social-icons-container a:hover .reddit {
  color: #ff4500;
}

.social-icons-container a:hover .udemy {
  color: #a435ef;
}

.social-icons-container a:hover .x {
  color: #aaa;
}

@media (max-width: 768px) {
  .social-icons-container {
    justify-content: center;
  }
}
